.title{
   font-size: 50px;
   color: white;
   font-weight: bold;
}
.about-me-title{
   font-size: 24px;
   color: white;
   text-decoration: underline;
   text-decoration-color: white;

}

.subject-text{
   font-size: 24px;
   color: #6b6e70;
}

.sub-title{
   font-size: 24px;
   color: white;
   text-decoration: underline;
   text-decoration-color: white;
}

.grid-item{
   text-align: center;
}
.list-text{
   text-align: center;
}