# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\school stuff\Skills for computing professionals\skills-website\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
